@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
  }

  body.lock-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .filter-logo-white {
    filter: invert(1) brightness(6) hue-rotate(180deg);
  }

}